:root {
  --ultramarine-logo: rgba(33, 150, 243, 1);
  --black-bold: rgba(33, 33, 33, 1);
  --grey-limpid: rgba(117, 117, 117, 1);
  --white: rgba(255, 255, 255, 1);
  --grey-dust: rgba(255, 255, 255, 0.6);
  --grey-white: rgba(245, 244, 250, 1);
  --grey-black: rgba(47, 48, 58, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-bold)
}

.logo-p1 {
  color: var(--ultramarine-logo);
}

.logo-p2 {
  color: var(--black-bold);
}

.logo-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.nav-menu {
  color: var(--black-bold);
  cursor:pointer;
}

.link {
  color: var(--black-bold);
  cursor:pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.nav-menu .link.current {
color: var(--ultramarine-logo);
}

.nav-menu a:hover {
color: var(--ultramarine-logo)
}



.tel-mail-1 {
  color: var(--grey-limpid);
  font-weight: 500;
  cursor:pointer;
  font-size: 14px;
  line-height: 1.17;
}

.tel-mail-1:hover,
.tel-mail-1:focus{
  color:var(--ultramarine-logo);
}

.mail-to {
  color: var(--grey-limpid);
   font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.mail-to:focus,
.mail-to:hover {
  color: var(--ultramarine-logo)
}

.tel-mail-2 {
  color: var(--grey-dust);
  font-size: 14px;
  line-height: 1.17;
}

.tel-mail-2:hover,
.tel-mail-2:focus{
  color:var(--ultramarine-logo)
}

.main-title {
  color: var(--white);
  font-size: 44px;
  line-height: 1.36;
}

.main-title-footer {
  color: var(--white);
  font-size: 26px;
  line-height: 1.17;
}

.background {
  background-color: var(--grey-black);
}

.background > h1 {
  font-weight: 900;
}

.background > button {
  font-weight: 700;
}


.button {
  background-color: var(--ultramarine-logo);
  color: var(--grey-white);
  font-size: 16px;
  line-height: 1.87;
  cursor:pointer;
}

.traits {
color: var(--black-bold);
font-weight: 700;
font-size: 14px;
line-height: 1,17;
}

.under-traits {
color: var(--grey-limpid);
font-size: 14px;
line-height: 1.7;
}

.what-we-do {
  color: var(--black-bold);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team-section {
  background-color: var(--grey-white);
}

.name {
  color: var(--black-bold);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.position {
  color: var(--grey-limpid);
  font-size: 16px;
  line-height: 1.7;
}

.address {
  color: var(--white);
  font-size: 14px;
  line-height: 1.7;
}

.address:hover,
.address:focus {
  color:var(--ultramarine-logo)
}

.button-portfolio button {
  background-color: var(--grey-white);
  color: var(--black-bold);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor:pointer;
}

.button-portfolio button:hover{
  background-color: var(--ultramarine-logo);
  color: var(--white);
}


.projects h2 { 
  color: var(--black-bold);
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
}

.projects p {
  color: var(--grey-limpid); 
  font-size: 16px;
  line-height: 1.9;
}