:root {
  --ultramarine-logo: rgba(33, 150, 243, 1);
  --black-bold: rgba(33, 33, 33, 1);
  --grey-limpid: rgba(117, 117, 117, 1);
  --white: rgba(255, 255, 255, 1);
  --grey-dust: rgba(255, 255, 255, 0.6);
  --grey-white: rgba(245, 244, 250, 1);
  --grey-black: rgba(47, 48, 58, 1);
  --line: rgba(236, 236, 236, 1);
  --social-link-color: rgba(175, 177, 184, 1);
  --hero-overlay-color: rgba(47, 48, 58, 0, 4);
  --hero-bg-color: #c4c4c4;
  --footer-social-link-bg: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --portfolio-primary: rgba(117, 117, 117, 1);
  --modal-background: rgba(0, 0, 0, 0.2);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-border {
  border-bottom: 1px solid var(--line);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation {
  margin-right: auto;
  align-items: center;
}

.page-header .tel-mail-1 {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-bold);
  background-color: var(--white);
}

.logo-p1 {
  color: var(--ultramarine-logo);
}

.logo-p2 {
  color: var(--black-bold);
}

.logo-marge {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.options {
  display: inline-flex;
}

.nav-menu {
  color: var(--black-bold);
  cursor: pointer;
  margin: 0px;
  padding-left: 0px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.link {
  position: relative;
  color: var(--black-bold);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  /* hw-5 */
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu .link.current {
  color: var(--ultramarine-logo);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu .current:hover,
.nav-menu .current:focus {
  color: var(--ultramarine-logo);

  /* text-shadow: var(--button-shadow); */
}

.nav-menu .current::after {
  background-color: var(--ultramarine-logo);
}

.nav-menu .current:hover::after,
.nav-menu .current:focus::after {
  background-color: var(--ultramarine-logo);
}

.nav-menu a:hover {
  color: var(--ultramarine-logo);
}

.tel-mail-1 {
  color: var(--grey-limpid);
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-mail-1:hover,
.tel-mail-1:focus {
  color: var(--ultramarine-logo);
  outline: none;
}

.mail-to {
  color: var(--grey-limpid);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-to:focus,
.mail-to:hover {
  color: var(--ultramarine-logo);
  outline: none;
}

.tel-mail-2 {
  color: var(--grey-dust);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.tel-mail-2:hover,
.tel-mail-2:focus {
  color: var(--ultramarine-logo);
}

.phone-icon:hover,
.phone-icon:focus {
  color: var(--ultramarine-logo);
}

.action .background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  color: var(--white);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  /*margin-top: 200px;*/
  margin-bottom: 30px;
  text-align: center;
}

.main-title-footer {
  color: var(--white);
  font-size: 26px;
  line-height: 1.17;
}

.logo-footer-padding {
  padding-top: 20px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.background {
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.background > h1 {
  font-weight: 900;
}

.background > button {
  font-weight: 700;
}

.button {
  background-color: var(--ultramarine-logo);
  color: var(--grey-white);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.action .button {
  display: block;
  align-items: center;
  /*margin-bottom: 200px;*/
  padding: 10px 32px;
  border: none;
}

.traits {
  color: var(--black-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -94px;
}

.item {
  margin-left: 30px;
  margin-top: 94px;
  flex-basis: calc(100% / 4 - 30px);
}

.image-item {
  margin-left: 30px;
  margin-top: 94px;
  flex-basis: calc((100% - 90px) / 3);
}

.team-item {
  margin-left: 30px;
  margin-top: 94px;
  flex-basis: calc(100% / 4 - 30px);
}

.under-traits {
  color: var(--grey-limpid);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.what-we-do {
  color: var(--black-bold);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.padding-liq {
  padding-top: 0px;
}

.team-section {
  background-color: var(--grey-white);
}

.card-form {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
}

.name {
  color: var(--black-bold);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 10px;
}

.position {
  color: var(--grey-limpid);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
}

.address {
  color: var(--white);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address:hover,
.address:focus {
  color: var(--ultramarine-logo);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.button-portfolio button {
  background-color: var(--grey-white);
  color: var(--black-bold);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio button:hover {
  background-color: var(--ultramarine-logo);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.examples-form h2 {
  color: var(--black-bold);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-form p {
  color: var(--grey-limpid);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* Portfolio сетка*/

.portfolio-card-set {
  display: flex;
  justify-content: center;
}

.portfolio-item {
  padding: 6px 22px;
}

.portfolio-li-item:not(:last-child) {
  margin-right: 8px;
}

.section-portfolio {
  margin-bottom: 94px;
}

.examples-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-top: 50px;
}

.examples-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-link:hover,
.portfolio-link:focus {
  outline: none;
  box-shadow: var(--portfolio-box-shadow);
}

.examples-form {
  padding: 20px 24px;
  border: 1px solid var(--line);
  border-top: none;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Social icons*/

.social-icons {
  display: flex;
  margin-top: 16px;
  margin-right: 32px;
  margin-left: 32px;
  justify-content: space-between;
}

.social-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--social-link-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-svg {
  width: 20px;
  height: 20px;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--ultramarine-logo);
  fill: var(--white);
  outline: none;
}

/*clients section*/

.client-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.client-item {
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc(100% / 6 - 30px);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  text-align: center;
}

.client-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  fill: var(--social-link-color);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--ultramarine-logo);
  fill: var(--ultramarine-logo);
  outline: none;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*traits section*/

.thumb {
  display: block;
}

.item .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--grey-white);
}

/*extra background class for footer*/

.background-footer {
  background-color: var(--grey-black);
}

.footer-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 70px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
}

.footer-sidebar .social-icon-link {
  background-color: var(--footer-social-link-bg);
  fill: var(--white);
}

.footer-sidebar .social-icon-link:hover,
.footer-sidebar .social-icon-link:focus {
  background-color: var(--ultramarine-logo);
  outline: none;
}

.social-icons-footer {
  display: flex;
  justify-content: space-between;
}

.background-footer .social-icons-footer {
  margin-top: 20px;
  min-width: 206px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.background-footer .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.portfolio-link {
  display: block;
  color: var(--portfolio-primary);
}

/*Оверлей*/

.image-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  padding: 27px 15px;
  text-align: center;

  /* padding: 32px 64px;*/

  /* opacity: 0; */
  background: rgba(47, 48, 58, 0.8);
  color: var(--white);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;

  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image-item .what-we-do-thumb {
  position: relative;
  max-height: 294px;
}

.uppercase {
  text-transform: uppercase;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus::after,
.link:hover::after {
  background-color: var(--ultramarine-logo);
}

/*backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/*
.backdrop.is-hidden .modal {
  transform: translateX(-100vh);
}
*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 1);
  border: 1px solid currentColor;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

/*portfolio overlay*/

.projects .thumb {
  position: relative;
  max-height: 294px;
  overflow: hidden;
}

.portfolio-link .overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 64px 24px;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(150%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.projects .text-overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
}
